* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li{
  list-style: none;
}

:root {
  --violet: hsl(257, 40%, 49%);
  --pink: hsl(322, 100%, 66%);
  --magenta: hsl(300, 69%, 71%);
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --gray-blue: hsl(208, 11%, 55%);
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}

.header-hero {
  background-image: url(../images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--pale-cyan);
  margin-bottom: 10rem;
}

.trial {
  padding: 0 2rem;
}

.trial button {
  padding: 0.8rem 3.5rem;
  border: none;
  border-radius: 30px;
  background-color: white;
  font-family: "open sans", sans-serif;
  font-weight: bold;
  box-shadow: 1px 1px 40px -15px;
  transition: 0.3s;
}

.trial button:hover {
  color: var(--gray-blue);
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
}

.logo img{
    padding-top: 2rem;
}

.hero-text {
  padding: 4rem;
}

.ilustration {
  width: 100%;
}

h1 {
  font-size: 2.5em;
  margin: 0 0 2rem;
}

p {
  font-family: "open sans", sans-serif;
}

.action {
  padding: 0.8rem 3.5rem;
  border: none;
  border-radius: 30px;
  background-color: var(--pink);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  box-shadow: 1px 1px 40px -15px;
  margin-top: 2rem;
  transition: 0.3s;
}

.action:hover {
  background-color: var(--magenta);
  cursor: pointer;
}

.card-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 3rem auto;
  border: none;
  box-shadow: 0px 0px 9px -5px;
  border-radius: 1rem;
  padding: 3rem 5rem;
}

.text-1 {
  font-size: 1.3rem;
  margin: 10%;
}

.text-1 p {
  font-size: 18px;
  color: var(--gray-blue);
}

.img-1 {
  max-width: 33%;
  max-height: auto;
  object-fit: contain;
}

.card-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 3rem auto;
  border: none;
  box-shadow: 0px 0px 9px -5px;
  border-radius: 1rem;
  padding: 3rem 5rem;
}

.text-2 {
  font-size: 1.3rem;
  margin: 10%;
}

.text-2 p {
  font-size: 18px;
  color: var(--gray-blue);
}

.img-2 {
  max-width: 33%;
  max-height: auto;
  object-fit: contain;
}

.card-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 3rem auto;
  border: none;
  box-shadow: 0px 0px 9px -5px;
  border-radius: 1rem;
  padding: 3rem 5rem;
}

.text-3 {
  font-size: 1.3rem;
  margin: 10%;
}

.text-3 p {
  font-size: 18px;
  color: var(--gray-blue);
}

.img-3 {
  max-width: 33%;
  max-height: auto;
  object-fit: contain;
}

.card-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 9rem auto 5rem auto;
  border: none;
  box-shadow: 0px 0px 9px -5px;
  border-radius: 1rem;
  padding: 3rem 5rem;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--pale-cyan);
    background-color: var(--dark-cyan);
}

.logo-contact{
    margin: 6rem 5rem;
}

.logo{
    margin: 0 0 2rem 0;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 4rem;
}

.address{
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

.address::before{
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 11px;
    height: 15px;
    background-image: url(../images/icon-location.svg);
    background-size: cover;
}

.phone{
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

.phone::before{
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 15px;
    height: 15px;
    background-image: url(../images/icon-phone.svg);
    background-size: cover;
}

.email{
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

.email::before{
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 19px;
    height: 15px;
    background-image: url(../images/icon-email.svg);
    background-size: cover;
}

.facebook{
    padding-right: 1rem;
}

.insta{
    padding-right: 1rem;
}

.twitter{
    padding-right: 1rem;
}

.copy{
}